* {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	background-color: #f5f0eb;
}

/* LEFT */

.left {
	position: fixed;
	height: 100vh;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left__lateral {
	height: 25vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 30px;
	padding: 20% 15%;
	box-sizing: border-box;
}

.left__center {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line {
	width: 1px;
	height: 80%;
	background-color: rgba(0, 0, 0, .5);
}

/* CONTAINER */

.container {
	min-height: 100vh;
	width: calc(100vw - 400px);
	margin-left: 200px;
}

.container__el {
	min-height: 100vh;
}

/* CONTENTS */

.hello {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	font-size: 8vh;
	color: #444346;
	transition: all 1s ease-in-out;
}

/* HEADER */

header {
	position: fixed;
	height: 100vh;
	width: 200px;
	margin-left: calc(100vw - 200px);
}

.header__nav {
	height: 25vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20% 15%;
	box-sizing: border-box;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .5);
}

.nav nav {
	width: 90%;
	height: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.nav__first {
	border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.nav__last {
	border-top: 1px solid rgba(0, 0, 0, .5);
}

.nav nav a {
	text-decoration: none;
	color: rgba(0, 0, 0, .7);
	transition: all .3s ease-in-out;
	font-weight: 700;
}

.nav nav a:hover {
	color: #cd505a;
}

.header__line {
	height: 75%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}