* {
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: rgba(0, 0, 0, .7);
}

a:hover {
	color: #cd505a;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	background-color: #f5f0eb;
	overflow-x: hidden;
}

/* LEFT */

.left {
	position: fixed;
	height: 100vh;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.left__lateral {
	height: 25vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	padding: 20% 15%;
	box-sizing: border-box;
}

.left__center {
	height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 70%;
	height: auto;
	opacity: .7;
}

.line {
	width: 1px;
	height: 80%;
	background-color: rgba(0, 0, 0, .5);
}

/* CONTAINER */

.container {
	min-height: 100vh;
	width: 100vw;
}

.container__el {
	box-sizing: border-box;
	min-height: 100vh;
	padding: 100px 300px;
	width: 100%;
}

/* CONTENTS */

.hello {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 900;
	font-size: 8vh;
	color: #444346;
	transition: all 1s ease-in-out;
	text-align: center;
}

.aboutme {
	background: #ede7e3;
}

.label {
	color: rgba(0, 0, 0, .7);
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 100px;
    position: relative;
    top: 50px;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.label-active {
    top: 0;
    opacity: 1;
}

.photo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	height: 440px;
	margin-bottom: 100px;
}

.photo__img {
    position: relative;
    top: 50px;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.photo__img-active {
    top: 0;
    opacity: 1;
}

.photo__img img {
	width: 440px;
	height: 440px;
	object-fit: cover;
	object-position: center;
	z-index: 1;
}

.photo__img-college img {
	object-position: 20%;
}

.photo__desc {
	width: calc(100% - 440px);
	margin: 0 -30px 0 30px;
	height: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	padding: 20px 0;
	z-index: 2;
}

.photo__desc div {
	color: rgba(0, 0, 0, .7);
	display: flex;
	justify-content: space-between;
	gap: 16px;
	align-items: center;
}

.photo__line {
	height: 1px;
	width: 60px;
	background-color: black;
}

.description {
	color: rgba(0, 0, 0, .7);
	font-size: 22px;
	font-weight: 500;
	padding-bottom: 100px;
	margin-bottom: 100px;
	line-height: 35px;
	border-bottom: 1px solid rgba(0, 0, 0, .7);
	text-align: justify;
	position: relative;
	top: 50px;
	opacity: 0;
}

.description-active {
	top: 0;
	opacity: 1;
    transition: all .5s ease-in-out;
}

.description-college {
	margin: 0;
	padding: 0;
	border: none;
}

.urls {
	display: flex;
	justify-content: space-between;
	gap: 16px;
	width: 100%;
	position: relative;
	top: 50px;
	opacity: 0;
	transition: all .5s ease-in-out;
}

.urls-active {
	top: 0;
	opacity: 1;
    transition: all .5s ease-in-out;
}

.urls__container {
	width: 50%;
	box-sizing: border-box;
}

.urls__label {
	font-size: 24px;
	font-weight: 700;
	color: rgba(0, 0, 0, .7);
}

.portfolio {
	background: #ede7e3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio__row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: auto;
}

.work {
	width: 50%;
	height: 300px;
	box-sizing: border-box;
	overflow: hidden;
	background-size: 100%;
	background-position: center;
	position: relative;
	top: 50px;
	opacity: 0;
    transition: all .5s ease-in-out;
}

.work-active {
	top: 0;
	opacity: 1;
}

.work:hover {
	background-size: 120%;
	transition: all .5s ease-in-out;
}

.work h4 {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: flex-end;
	box-sizing: border-box;
	padding: 10% 5%;
	opacity: 0;
	color: white;
	transition: all .5s ease-in-out;
}

.work:hover h4 {
	opacity: 1;
	font-size: 25px;
	backdrop-filter: brightness(.3) blur(2px);
	transition: all .5s ease-in-out;
}

dl {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 20px;
	font-weight: 500;
}

/* WORK */

.work_container {

}

.work_container__label {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	color: rgba(0, 0, 0, .7);
	font-size: 50px;
	font-weight: 900;
	margin-bottom: 70px;
}

.work_container__desc {
	color: rgba(0, 0, 0, .7);
	font-size: 22px;
	font-weight: 500;
	margin-bottom: 70px;
	line-height: 35px;
	text-align: justify;
}

.work_container__bg {
	width: 100vw;
	height: 80vh;
	margin-left: -300px;
	background-image: url('../img/il_2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-bottom: 70px;
}

th, td {
	border: 1px solid rgba(0, 0, 0, .7);
	box-sizing: border-box;
	padding: 10px;
}

td img {
	width: 200px;
	height: auto;
}

td:first-child {
	text-align: center;
}

td:last-child {
	text-align: center;
}

table {
	border-collapse: collapse;
	width: 100%;
	color: rgba(0, 0, 0, .7);
}

/* HEADER */

header {
	position: fixed;
	height: 100vh;
	width: 200px;
	margin-left: calc(100vw - 200px);
}

.header__nav {
	height: 25vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20% 15%;
	box-sizing: border-box;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, .5);
}

.nav nav {
	width: 90%;
	height: 33.33%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.nav__first {
	border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.nav__last {
	border-top: 1px solid rgba(0, 0, 0, .5);
}

.nav nav a {
	transition: all .3s ease-in-out;
	font-weight: 700;
	text-align: center;
}

.header__line {
	height: 75%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* FOOTER */

footer {
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
}


/* MEDIA */

@media (max-width: 1200px) {
	.photo {
		flex-direction: column-reverse;
		padding-top: 100px;
	}

	.photo__desc {
		width: 100%;
		height: auto;
		margin: 0;
		align-items: flex-start;
		gap: 16px;
	}

	.photo__desc div {
		flex-direction: row-reverse;
	}

	.photo__img img {
		width: 100%;
	}

	.photo__img-about img {
		object-position: 50% 10%;
	}

	.portfolio__row {
		flex-direction: column;
	}

	.work {
		width: 100%;
	}

	.label {
		font-size: 30px;
	}

	.work_container__label {
		font-size: 30px;
	}

	th:first-child {
		display: none;
	}

	th:last-child {
		display: none;
	}

	td:first-child {
		display: none;
	}

	td:last-child {
		display: none;
	}

	.container__el {
		padding: 150px 5%;
	}

	.work_container__bg {
		margin-left: -5%;
		background-attachment: inherit;
	}

	.left {
		display: none;
	}

	.header__line {
		display: none;
	}

	header {
		width: 100vw;
		height: 100px;
		margin: 0;
		background-color: #f5f0eb;
		z-index: 150;
	}

	.header__nav {
		height: 100%;
		padding: 0;
	}

	.nav {
		flex-direction: row;
	}

	.nav nav {
		height: 100%;
		border: none;
	}
}
